<body style="background-image: url('https://colors.dopely.top/inside-colors/wp-content/uploads/2021/06/colorful-backgrounds-11.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
    <div class="container mt-4 border border-3 bg-light border border-dark">
        <h2 class="text-center mt-4">FORM</h2>
        <form action="/action_page.php">
            <div class="row mt-3">
                <div class="col-md-3 fw-bold"><label for="email">PRICE:</label></div>
                <div class="col-md-3"><input type="number" class="form-control" id="email" placeholder="Enter a price" name="email"></div>
                <div class="col-md-3 fw-bold"><label for="email">QUANTITY</label></div>
                <div class="col-md-3"><input type="number" class="form-control" id="email" placeholder="quantity" name="email"></div>
            </div>
            <div class="row">
                <div class="col-md-3 fw-bold mt-4"><label for="pwd">Descripation:</label></div>
                <div class="col-md-9"><textarea class="form-control mt-4" rows="5" id="comment" name="text"></textarea></div>
            </div>
            <div class="row">
                <div class="col-md-3 fw-bold mt-4">FEATURES</div>
                <div class="col-md-2 fw-bold"><label class="form-check-label mt-4" for="radio2 ">YES</label></div>
                <div class="col-md-2"><input type="radio" class="form-check-input mt-4" id="radio1" name="optradio" value="option1" checked></div>
                <div class="col-md-2 fw-bold"><label class="form-check-label mt-4" for="radio2">NO</label></div>
                <div class="col-md-2"><input type="radio" class="form-check-input mt-4" id="radio2" name="optradio" value="option2"></div>

            </div>
            <div class="mt-2 text-center">
                <input type="file" id="mainImage" class="main_class fw-bold mt-4" placeholder="upload your image">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary fw-bold mt-4 mb-4">Submit</button>
            </div>
        </form>
    </div>
</body>
</div>