<body class="bg-dark">
    <div>
        <div class="container-fluid mt-5">
            <table class="table table-bordered table-sm border border-2 fight">
                <thead class="border border-2 text-white">
                    <tr>
                        <th>SERIOUS NO;</th>
                        <th>IMAGE</th>
                        <th>TITLE</th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody class="border border-2">
                    <tr class="border border-2">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="border border-2">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="border border-2">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>