<div class="container bg-success mt-5 heigt border border-2 rounded border border-dark">
    <form>
        <div class="row">
            <div class="col-md-2">
                <label for="inputtext" class="col-form-label fw-bold ms-4 mt-3">FIRST NAME</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="inputtext" class="form-control mt-3 text-center" placeholder="  Enter any name ">

            </div>
            <div class="col-md-2">
                <label for="inputtext" class="col-form-label fw-bold ms-4 mt-3">LAST NAME</label>

            </div>
            <div class="col-md-4">
                <input type="text" id="lastName" class="form-control mt-3 text-center" placeholder="  Enter Last name  ">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="inputPassword6" class="col-form-label fw-bold ms-4 mt-3">PASSWORD</label>
            </div>
            <div class="col-md-4">
                <input type="password" id="inputPassword6" class="form-control mt-3 text-center" placeholder="   Enter password">

            </div>
            <div class="col-md-2">
                <label for="inputEmail" class="col-form-label fw-bold ms-4 mt-3">E-Mail</label>

            </div>
            <div class="col-md-4">
                <input type="email" id="inputEmail" class="form-control mt-3 text-center" placeholder="Enter your mail">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="inputMobile" class="col-form-label fw-bold ms-4 mt-3">CONTACT </label>
            </div>
            <div class="col-md-1">
                <input type="number" id="inputMobile" class="form-control mt-3 text-center" placeholder="91++">

            </div>
            <div class="col-md-3">
                <input type="number" id="inputMobile" class="form-control mt-3 text-center di" placeholder="Enter your number">

            </div>
            <div class="col-md-2">
                <label for="inputPin" class="col-form-label fw-bold ms-4 mt-3">PIN CODE</label>

            </div>
            <div class="col-md-4">
                <input type="number" id="inputPin" class="form-control mt-3 text-center" placeholder="Enter your pin">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="exampleFormControlTextarea1" class="form-label fw-bold ms-4 mt-3"> Text area</label>

            </div>
            <div class="col-md-10">
                <textarea class="form-control mt-3 text-center" id="exampleFormControlTextarea1" rows="3" placeholder="Write a paragraph"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="exampleAddress" class="form-label fw-bold ms-4 mt-3">Address</label>

            </div>
            <div class="col-md-10">
                <input type="text" class="form-control mt-3 text-center" id="exampleAddress" placeholder="Enter your address">
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="inputtext" class="col-form-label fw-bold ms-4 mt-3">GENDER</label>

            </div>
            <div class="col-md-3">
                <input class="form-check-input fw-bold ms-4 mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label fw-bold ms-4 mt-3" for="inlineRadio1"><i class="fa fa-male">Male</i></label>

            </div>
            <div class="col-md-3">
                <input class="form-check-input fw-bold ms-4 mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                <label class="form-check-label fw-bold ms-4 mt-3" for="inlineRadio2"><i class="fa fa-female">female</i></label>

            </div>
            <div class="col-md-3">
                <input class="form-check-input fw-bold ms-4 mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                <label class="form-check-label fw-bold ms-4 mt-3" for="inlineRadio3">other</label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="inputtext" class="col-form-label fw-bold ms-4 mt-3">HOBBIES</label>

            </div>
            <div class="col-md-2">
                <label class="form-check-label fw-bold  mt-3" for="flexCheckDefault1"> kabaddi</label>
                <input class="form-check-input fw-bold ms-1 mt-4" type="checkbox" value="" id="flexCheckDefault1">
            </div>
            <div class="col-md-2">
                <label class="form-check-label fw-bold  mt-3" for="flexCheckDefault2">dance </label>

                <input class="form-check-input fw-bold ms-1 mt-4" type="checkbox" value="" id="flexCheckDefault2">
            </div>
            <div class="col-md-2">
                <label class="form-check-label fw-bold  mt-3" for="flexCheckDefault3">fight</label>
                <input class="form-check-input fw-bold ms-1 mt-4" type="checkbox" value="" id="flexCheckDefault3">
            </div>
            <div class="col-md-2">
                <label class="form-check-label fw-bold  mt-3" for="flexCheckDefault">cricket</label>
                <input class="form-check-input fw-bold ms-1 mt-4" type="checkbox" value="" id="flexCheckDefault">
            </div>
            <div class="row">
                <div class="col-md-2 fw-bold ps-5  mt-3">
                    CITY
                </div>
                <div class="col-md-4">
                    <select class="form-select mt-3 text-center" aria-label="Default select example">
                        <option selected>indore</option>
                        <option value="1">dewas</option>
                        <option value="2">bhopal</option>
                        <option value="3">patna</option>
                      </select>
                </div>
                <div class="col-md-2 fw-bold ps-5 mt-3">
                    place
                </div>
                <div class="col-md-4">
                    <select class="form-select mt-3 text-center" aria-label="Default select example">
                        <option selected>m.p</option>
                        <option value="1">uttar pradesh</option>
                        <option value="2">bihar</option>
                        <option value="3">delhi</option>
                      </select>
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-md-12 text-center ms-5 ps-5">
                    <button type="submit" class="btn btn-danger sm">Submit</button>
                </div>
            </div>

        </div>

</div>
</form>
</div>